body {
  padding-left: calc(
    100vw - 100%
  ); /* From https://stackoverflow.com/a/30293718 */
  background-color: black;
  color: white;
  text-align: center;
}

section {
  max-width: 900px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section,
table {
  margin: 0 auto;
}

a,
a:visited {
  color: coral;
  font-weight: bold;
}

a:hover,
a:active {
  color: crimson;
}

table {
  border: 1px solid white;
}

table th {
  border-bottom: 2px solid white;
  font-size: 1.25em;
}

table tbody tr:nth-child(even) {
  background-color: rgb(56, 56, 56);
}

table tbody tr td {
  padding: 0.2em;
}

table tbody tr:hover {
  background-color: rgb(95, 95, 95);
}
