@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --colorBg: rgb(20, 20, 20);
  --colorText: rgb(225, 225, 225);

  --colorLink: rgb(76, 187, 135);
  --colorLinkHover: rgb(114, 228, 175);

  --colorTable: rgb(76, 76, 76);
  --colorTableEven: rgb(46, 46, 46);
  --colorTableHover: rgb(115, 115, 115);
}

@media (prefers-color-scheme: light) {
  :root {
    --colorBg: rgb(225, 225, 225);
    --colorText: rgb(56, 56, 56);

    --colorLink: green;
    --colorLinkHover: forestgreen;

    --colorTable: rgb(205, 205, 205);
    --colorTableEven: rgb(185, 185, 185);
    --colorTableHover: rgb(155, 155, 155);
  }
}

body {
  padding-left: calc(
    100vw - 100%
  ); /* From https://stackoverflow.com/a/30293718 */
  background-color: var(--colorBg);
  color: var(--colorText);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  margin: 0 auto;
  max-width: 80%;
}

a,
a:visited {
  color: var(--colorLink);
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--colorLinkHover);
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="text"],
  input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

input[type="text"],
input[type="search"] {
  border: 0;
  padding: 0.25em;
  background-color: transparent;
}

#searchForm {
  margin-bottom: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr {
  background-color: transparent;
  font-size: 1.25em;
}

table tbody tr {
  background-color: var(--colorTable);
}

table tbody tr:nth-child(even) {
  background-color: var(--colorTableEven);
}

table tbody tr:hover {
  background-color: var(--colorTableHover);
}

table tbody tr td {
  padding: 0.4em;
  text-align: left;
  font-size: 0.9em;
}

table tbody tr td.right {
  text-align: right;
}
